<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
     <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="bg-slate-800">
<h2>Hello Ciwan!</h2>
@RenderBody()

</body>
</html>