@model bejebeje.admin.Application.Dashboard.Queries.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<h2>Welcome!</h2>

<h3>You have @Model.NumberOfUnapprovedArtists unapproved artists!</h3>
