@model bejebeje.admin.Application.Lyrics.Commands.CreateLyric.CreateLyricQueryViewModel

@{
    ViewData["Title"] = $"New lyric for {Model.ArtistName}";
}

<div class="bg-slate-800 rounded-md mb-5 p-8">
    <div class="bg-slate-900 rounded-md p-10 flex items-center mb-8">
        <picture>
            <source type="image/webp" srcset=@($"{Model.ArtistImageUrl}.webp")>
            <source type="image/jpeg" srcset=@($"{Model.ArtistImageUrl}.jpg")>

            <img src=@($"{Model.ArtistImageUrl}.jpg")
                 class="border-1 mr-4 border-slate-800 rounded-full w-40 h-40"
                 loading="lazy"
                 alt="@Model.ArtistImageAlternateText"/>
        </picture>

        <div>
            <h2 class="text-2xl">
                @Model.ArtistName
            </h2>
        </div>
    </div>

    <form asp-controller="Lyrics" asp-action="Create" method="post">
        <input asp-for="ArtistId" type="hidden"/>
        <div class="mb-3">
            <label asp-for="Title" class="block text-sm mb-1.5"></label>
            <input asp-for="Title" class="bg-slate-900 px-3 py-2 mb-6 w-1/2 rounded-md"/>
        </div>

        <div class="mb-3">
            <label asp-for="Body" class="block text-sm mb-1.5"></label>
            <textarea asp-for="Body" class="bg-slate-900 px-3 py-2 mb-6 w-1/2 rounded-md" rows="20"></textarea>
        </div>

        <div class="mb-3">
            <a asp-controller="Artists" asp-action="Details" asp-route-artistId="@Model.ArtistId" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Cancel</a>
            <input type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer" value="Add new lyric"/>
        </div>
    </form>
</div>